
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #132c33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #a0d3f8;
}

.App-link {
  color: #61dafb;
}

.Pagination {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.Pages-container {
  padding-bottom: 40px;
}

.Active {
  background-color: #3d8ec7;
  border-radius: 5px;
}

.ItemsToDisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.Item {
  padding: 30px 20px;
  color: #f0f8da;
  font-size: 30px;
  width: 1200px;
  margin: 10px;
  background-color:#258499;
  border-radius: 10px;
  box-shadow: inset 0 0 10px;
}

.Source {
  font-size: 15px;
  padding-bottom: 20px;
  color: rgb(111, 205, 243);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
